<section>
    <div class="cabezera">
        <h1>{{receivedMessages[0]["Plato"]["Nombre"]}}</h1>
    </div>
</section>
<section class="receta">
    <div class="primera-parte">
        <img src="{{receivedMessages[0]['Ilustraciones'][0]['Direccion']}}" alt="">
        <div class="ingredientes">
            <h1>Ingredientes y Medidas</h1>
            <ul>
                <li *ngFor="let ingrediente of ingredientes">
                {{ingrediente["Nombre"]}} {{ingrediente["Cantidad"]}} {{ingrediente["UnidadMedidaCantidad"]}} 
                </li><br>
              </ul>
        </div>
    </div>
    <div class="segundo-parte">
        <div class="preparacion">
            <h1>Preparacion</h1>
            <img src="{{receivedMessages[0]['Ilustraciones'][1]['Direccion']}}" alt="">
            <p>{{receivedMessages[0]["Plato"]["Preparacion"]}}</p>
        </div>
    </div>
</section>