<section class="Recetas">
    <div class="filtro">
        <div class="cuadro-busqueda">
            <input type="text" placeholder="Buscar...">
           
        </div>
    </div>
    <div class="lista">
        <div  class="receta">
            <div class="imagen-circular">
                <img src="../../../assets/lasaña.jpg" alt="">
            </div>
            <h1>Lasaña al horno</h1>
        </div><br>
        <div class="receta">
            <div class="imagen-circular">
                <img src="../../../assets/plato1.jpg" alt="">
            </div>
            <h1>Carne salteada con verduras</h1>
        </div><br>
        <div class="receta">
            <div class="imagen-circular">
                <img src="../../../assets/plato2.jpg" alt="">
            </div>
            <h1>Carne con mariscos</h1>
        </div><br>
        <div class="receta">
            <div class="imagen-circular">
                <img src="../../../assets/plato3.jpeg" alt="">
            </div>
            <h1>Tarta de queso</h1>
        </div><br>
        <div class="receta">
            <div class="imagen-circular">
                <img src="../../../assets/plato4.jpg" alt="">
            </div>
            <h1>Postre con fresas</h1>
        </div><br>
        <div class="receta">
            <div class="imagen-circular">
                <img src="../../../assets/plato5.jpeg" alt="">
            </div>
            <h1>Filete de chuleta de cerdo</h1>
        </div><br>
        <div class="receta">
            <div class="imagen-circular">
                <img src="../../../assets/plato6.jpeg" alt="">
            </div>
            <h1>Pechuga de pollo y chuleta de cerdo</h1>
        </div><br>
    </div>
</section>
