<section>
    <div class="cabezera">
        <div class="logo">
            <img src="../../../assets/libro-de-recetas.png" alt="">
            <h2>AVR</h2>
            <p>Club Social Valledupar</p>
        </div>
        <h1>Asistente Virtual de Recetas</h1>
    </div>
</section>
<section class="informacion">
    <div class="seccion">
        <h1>Recetas Más Recientes</h1>
        <div class="recetas">
            <div class="card receta" >
                <img class="card-img-top" src="../../../assets/plato1.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Carne salteada con verduras</h5>
                </div>
              </div>        
              <div class="card receta" >
                <img class="card-img-top" src="../../../assets/plato2.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Carne con mariscos</h5>
                </div>
              </div>
              <div class="card receta" >
                <img class="card-img-top" src="../../../assets/plato3.jpeg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Tarta de queso</h5>
                </div>
              </div>
        </div>
    </div>
    
  <div class="seccion">
    <h1>Recetas Más Pedidas</h1>
    <div class="recetas">
        <div class="card receta" >
            <img class="card-img-top" src="../../../assets/plato4.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Postre con fresas</h5>
            </div>
          </div>
          <div class="card receta" >
            <img class="card-img-top" src="../../../assets/plato5.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Filete de chuleta de cerdo</h5>
            </div>
          </div>
          <div class="card receta" >
            <img class="card-img-top" src="../../../assets/plato6.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Pechuga de pollo y chuleta de cerdo</h5>
            </div>
          </div>
    </div>
  </div>
</section>
<br>
<br>
<br>
<br>
